// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

/* prog bar*/


/* IE10 */

progress {
    color: #f42098ff;
    font-size: .6em;
    line-height: 1.5em;
    text-indent: .5em;
    width: 15em;
    height: 1.8em;
    border: 3px solid #000;
    background: #fff;
}


/* Firefox */

progress::-moz-progress-bar {
    background: #f42098ff;
}


/* Chrome */

progress::-webkit-progress-bar {
    background: #fff;
}

progress::-webkit-progress-value {
    background: #f42098ff;
}